.grid-container {
    display: grid;
    grid-template-columns: 59% 40%;
    padding: 5px;
    padding-left: 0px;
    gap: 5px;
 }
 
 @media only screen and (max-width: 1200px) {
     .grid-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
     }
 }
 
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
 }

 .tag-container {
   display: inline-block;
   padding: 5px 15px; /* Adjust padding as needed */
   color: #fff; /* Set the text color */
   border-radius: 0; /* Remove border-radius to have sharp edges */
   font-weight: bold; /* Set font-weight as needed */
   position: relative; /* Add position relative */
   margin-right: 3px; /* Add some spacing between tags */
   cursor: pointer; /* Change cursor style if needed */
}

.tag-container p {
   margin: 0;
}

